* {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

body {
    background-color: #ffffff;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bb1111;
    height: 1200px;
    width: 1200px;
    border-radius: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100px;
    background-color: #bb1111;
    border-radius: 20px;
}

img {
    width: 100px;
    height: 80px;
}

h2 {
    font-family: arial;
    font-size: xxx-large;
    text-align: center;
    color: goldenrod;
}

h3 {
    color: goldenrod;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #bb1111;
    border-radius-topleft: 20px;
    moz-border-radius-topright: 20px;
}


.container {
    /*border-style: solid;*/
    display: flex;
    width: 960px;
    justify-content: center;
    align-items: center;
}

.square {
    border-style: solid;
    background-color: #dfdfdf;
    border-width: 1px;
    display: inline-block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.light {
    border-style: solid;
    background-color: #b5b5b5;
    border-width: 1px;
    display: inline-block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.medium {
    border-style: solid;
    background-color: #898989;
    border-width: 1px;
    display: inline-block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.dark {
    border-style: solid;
    background-color: #444444;
    border-width: 1px;
    display: inline-block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.black {
    border-style: solid;
    background-color: black;
    border-width: 1px;
    display: inline-block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}


.circle {
    height: 80px;
    width: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
}

.space {
    display: inline-block;
    width: 780px;
    text-align: center;
}